<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <title>Fleur</title>
</head>

<body ng-app="flowersApp" class="img-fluid" background="images/Flower 5.jpg" style="background-size: cover" ng-controller="FlowerController">
  <div class="container">
    <div class="row">
      <div>
        <h1 class="text-center display-3 col-md-12">Fleur</h1>
      </div>
    </div>
    <div class="row" >
      <div class="col-md-12">
        <div class="input-group" id="searchBar">
          <input type="text" class="form-control " style="border-radius:90px" placeholder="Search" ng-model="query">
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="tableWrapper" style="height : 80vh; overflow : auto;border-radius:15px">
          <table class="table table-hover " style="background:rgba(252, 246, 232, .9)">
            <tr>
              <th>Genus</th>
              <th>Species</th>
              <th>Common Name</th>
              <th></th>
            </tr>
            <tr ng-repeat="flower in flowers | filter: query | orderBy:'GENUS'" ng-click="getSightings(flower.COMNAME, flower.GENUS, flower.SPECIES); updateCurFlowerImageURL(flower.GENUS + ' ' + flower.SPECIES)">
              <td>{{flower.GENUS}}</td>
              <td>{{flower.SPECIES}}</td>
              <td>{{flower.COMNAME}}</td>
              <td><button class="btn btn-secondary fa fa-edit border-0" data-toggle="modal" data-target="#editFlowerModal" ></button></td>
              <div class="modal fade" id="editFlowerModal" tabindex="-1" role="dialog" aria-labelledby="editFlowerModal"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="editFlowerModalLabel">Edit Flower</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="form-row">
                          <div class="form-group col">
                            <input type="text" class="form-control" placeholder="Genus">
                          </div>
                          <div class="col form-group">
                            <input type="text" class="form-control" placeholder="Species">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col form-group ">
                            <input type="text" class="form-control" placeholder="Common Name">
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="jumbotron" style=" height: 80vh; overflow:auto;background:rgba(252, 246, 232, .9);border-radius:15px" ng-show = "curFlowName">
          <h3 class="display-4">{{curFlowName}}</h3>
          <figure class="figure">
              <figcaption class="figure-caption text-left"><strong>In Latin -<em> {{curFlowGenus}} {{curFlowSpecies}}</em></strong></figcaption>
                <img src="{{curFlowImageURL}}" class="figure-img img-fluid rounded" >
            </figure>
          <!-- <img class="card-img-top" ng-show="curFlowName" src="./images/asclepias-speciosa.jpg" alt="Card image cap"> -->
          <table ng-show="curFlowName" class="table border-0" style="background-color:#e8eefc;border-radius:15px">
            <tr>
              <th>Date</th>
              <th>Location</th>
              <th>Sighted By</th>
            </tr>
            <tr ng-repeat="sighting in sightings">
              <td ng-bind="sighting.SIGHTED"></td>
              <td ng-bind="sighting.LOCATION"></td>
              <td ng-bind="sighting.PERSON"></td>
            </tr>
          </table>
          <div ng-show="curFlowName">
            Seen {{curFlowName}}?
            <button class="btn btn-secondary btn-link" data-toggle="collapse" aria-controls="addSightingCard" ng-click="getUser(); hidden=!hidden;"
              data-target="#addSightingCard">
              Add a sighting
            </button>
            <div class="card" id="addSightingCard" ng-show="!hidden">
              <div class="card-body">
                <h5 class="card-title">Submit a sighting of {{curFlowGenus}} {{curFlowSpecies}}</h5>
                <form id="addSightingModal" ng-submit="addSighting(); getSightings(curFlowName)">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">First Name</label>
                      <input type="text" class="form-control" id="inputEmail4" ng-model="curUserFirstName" disabled>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Last Name</label>
                      <input type="text" class="form-control" id="inputPassword4" ng-model="curUserLastName" disabled>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="locationSelect">Location</label>
                    <select ng-model="location" ng-options="location.LOCATION for location in locations" class="form-control"
                      id="locationSelect"></select>
                  </div>
                  <div class="form-group">
                    <label for="sightedDate">Date of Sightings</label>
                    <input type="text" class="form-control" id="sightedDate" placeholder="YYYY-MM-DD" ng-model="sightedDate">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-target="#addSightingCard" data-dismiss="collapse">Close</button>
                    <button type="submit" class="btn btn-primary" value="Submit">Save
                      changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/factories/flowerFactory.js"></script>
  <script src="js/controllers/flowerController.js"></script>
</body>